<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- og태그seo최적화 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="청월:청년월세지원">
    <meta property="og:description" content="서울시 청년 월세 지원을 간편하게 신청하세요. 자격 확인부터 신청까지 한 번에 가능한 청월 사이트입니다.">
    <meta property="og:image" content="https://elly3156.dothome.co.kr/img/Logo/ogimg.png"> <!--og이미지-->
    <meta property="og:url" content="https://elly3156.dothome.co.kr/">
    <meta property="og:site_name" content="청월">
    
    <title>청월:청년월세지원</title>
    
    <!-- 바로가기 -->
    <link rel="icon" href="/img/Logo/Desktop_Shortcuts.ico" type="image/x-icon">
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/img/Logo/Fabicon.ico" type="image/x-icon">
    <!-- 리셋 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <!-- 폰트 -->
    <link rel="stylesheet"  href="/assests/fonts/pretendard.min.css" />
    <link rel="preconnect" href="/assests/fonts/pretendard.woff.css">
    <!-- Bootstrap -->
    <link href="/assests/plugin/boot5.min.css" rel="stylesheet">
    <!-- Swiper -->
    <link rel="stylesheet" href="/assests/swiper/swiper.min.css"/>
    


    <!-- css  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/S.css">
    <link rel="stylesheet" href="/css/G.css">

</head>
<body>
    <!-- 상단섹션 -->
    <header id="hd" class="fixed-top bg-transparent" >

        <div class="notification-banner text-center py-2">
            <p class="p-0 m-0 text-white small">2026년 청년월세지원사업 신청 안내 (2025. 6. 11.(수) ~ 6. 24.(화))</p>
        </div>

        <div class="d-flex justify-content-between align-items-center px-5 py-3">
            <div class="logo">
                <a href="#">
                    <img src="/img/Logo/Main_Logo.svg" width="120" alt="메인로고" class="img-fluid">
                </a>
            </div>

            <div class="d-flex flex-column align-items-end gap-3">
                <div class="top-menu text-end small">
                    <span class="menu-item">Languages</span>
                    <span class="divider mx-2">|</span>
                    <span class="menu-item">Dark Mode</span>
                </div>

                <nav class="main-menu">
                    <ul class="d-flex gap-4 list-unstyled m-0 p-0 fw-bold">
                        <li><a href="#">지원소개</a></li>
                        <li><a href="#">지원신청</a></li>
                        <li><a href="#">자격확인</a></li>
                        <li><a href="#">서울이야기</a></li>
                        <li><a href="#">청년정책</a></li>
                        <li><a href="#">챗봇/문의</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>